CompileFlags:
  Add:
    - -fobjc-arc
    - -fmodules
    - -fmodules-cache-path=/tmp/clangd-modules-cache
    - -F/Users/dom/Library/Developer/Xcode/DerivedData/Keyframeless-exnmblycgsyloegcjtfqkzhczrpe/Build/Products/Debug
