[submodule "ThirdParty/glslang"]
	path = Legacy/ThirdParty/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "ThirdParty/SPIRV-Cross"]
	path = Legacy/ThirdParty/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "ThirdParty/astyle"]
	path = Legacy/ThirdParty/astyle
	url = https://gitlab.com/saalen/astyle.git
