<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>MagicMoveXPCService</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSHumanReadableCopyright</key>
	<string></string>
	<key>PlugInKit</key>
	<dict>
		<key>Attributes</key>
		<dict>
			<key>com.apple.protocol</key>
			<string>FxPlug</string>
			<key>com.apple.version</key>
			<string>1.1</string>
		</dict>
		<key>PrincipalClass</key>
		<string>FxPrincipal</string>
		<key>Protocol</key>
		<string>PROXPCProtocol</string>
		<key>Subsystems</key>
		<array>
			<string>NSViewService_PKSubsystem</string>
		</array>
	</dict>
	<key>ProPlugDictionaryVersion</key>
	<string>1.0</string>
	<key>ProPlugDynamicRegistration</key>
	<false/>
	<key>ProPlugPlugInGroupList</key>
	<array>
		<dict>
			<key>groupName</key>
			<string>MagicMove Group</string>
			<key>uuid</key>
			<string>5DFF1F7F-2EEE-4062-92A5-B40CE1B76666</string>
		</dict>
	</array>
	<key>ProPlugPlugInList</key>
	<array>
		<dict>
			<key>className</key>
			<string>MagicMovePlugin</string>
			<key>displayName</key>
			<string>MagicMove::FxPlug Name</string>
			<key>group</key>
			<string>5DFF1F7F-2EEE-4062-92A5-B40CE1B76666</string>
			<key>infoString</key>
			<string>MagicMove::FxPlug Description</string>
			<key>protocolNames</key>
			<array>
				<string>FxFilter</string>
			</array>
			<key>uuid</key>
			<string>3A0B09C3-0F33-49C3-B58E-730D9D913BF9</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>className</key>
			<string>MagicMoveOSC</string>
			<key>displayName</key>
			<string>MagicMove OSC</string>
			<key>group</key>
			<string>5DFF1F7F-2EEE-4062-92A5-B40CE1B76666</string>
			<key>infoString</key>
			<string>MagicMove Radius Control</string>
			<key>protocolNames</key>
			<array>
				<string>FxOnScreenControl</string>
			</array>
			<key>supportedPlugins</key>
			<array>
				<string>3A0B09C3-0F33-49C3-B58E-730D9D913BF9</string>
			</array>
			<key>uuid</key>
			<string>B4EB2D73-F530-4A0E-8D99-682A6CB7610B</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
	</array>
	<key>XPCService</key>
	<dict>
		<key>JoinExistingSession</key>
		<true/>
		<key>RunLoopType</key>
		<string>_NSApplicationMain</string>
		<key>ServiceType</key>
		<string>Application</string>
		<key>_AdditionalSubServices</key>
		<dict>
			<key>viewbridge</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
