<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>RoundedXPCService</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSHumanReadableCopyright</key>
	<string></string>
	<key>PlugInKit</key>
	<dict>
		<key>Attributes</key>
		<dict>
			<key>com.apple.protocol</key>
			<string>FxPlug</string>
			<key>com.apple.version</key>
			<string>1.1</string>
		</dict>
		<key>PrincipalClass</key>
		<string>FxPrincipal</string>
		<key>Protocol</key>
		<string>PROXPCProtocol</string>
		<key>Subsystems</key>
		<array>
			<string>NSViewService_PKSubsystem</string>
		</array>
	</dict>
	<key>ProPlugDictionaryVersion</key>
	<string>1.0</string>
	<key>ProPlugDynamicRegistration</key>
	<false/>
	<key>ProPlugPlugInGroupList</key>
	<array>
		<dict>
			<key>groupName</key>
			<string>Rounded Group</string>
			<key>uuid</key>
			<string>0A3BF7B0-01C2-4425-811E-A741C4C483DE</string>
		</dict>
	</array>
	<key>ProPlugPlugInList</key>
	<array>
		<dict>
			<key>className</key>
			<string>RoundedPlugin</string>
			<key>displayName</key>
			<string>Rounded::FxPlug Name</string>
			<key>group</key>
			<string>0A3BF7B0-01C2-4425-811E-A741C4C483DE</string>
			<key>infoString</key>
			<string>Rounded::FxPlug Description</string>
			<key>protocolNames</key>
			<array>
				<string>FxFilter</string>
			</array>
			<key>uuid</key>
			<string>A5D350B8-198F-499E-A35A-A6CE420473E4</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>className</key>
			<string>RoundedOSC</string>
			<key>displayName</key>
			<string>Rounded OSC</string>
			<key>group</key>
			<string>0A3BF7B0-01C2-4425-811E-A741C4C483DE</string>
			<key>infoString</key>
			<string>Rounded Radius Control</string>
			<key>protocolNames</key>
			<array>
				<string>FxOnScreenControl</string>
			</array>
			<key>supportedPlugins</key>
			<array>
				<string>A5D350B8-198F-499E-A35A-A6CE420473E4</string>
			</array>
			<key>uuid</key>
			<string>C1E3B919-E259-42BA-B362-169AF0CD2390</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
	</array>
	<key>XPCService</key>
	<dict>
		<key>ServiceType</key>
		<string>Application</string>
		<key>JoinExistingSession</key>
		<true/>
		<key>RunLoopType</key>
		<string>_NSApplicationMain</string>
		<key>_AdditionalSubServices</key>
		<dict>
			<key>viewbridge</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
