							<dict>
								<key>CHILDREN</key>
								<array/>
								<key>DESCRIPTION</key>
								<array>
									<dict>
										<key>LANGUAGE</key>
										<string>English</string>
										<key>VALUE</key>
										<string>__PLUGIN_NAME__ plugin. __TYPE_LABEL__ for use in Motion/Final Cut Pro.</string>
									</dict>
								</array>
								<key>OPTIONS</key>
								<dict>
									<key>HIDDEN</key>
									<false/>
									<key>STATE</key>
									<integer>1</integer>
								</dict>
								<key>PACKAGE_UUID</key>
								<string>__PKG_UUID__</string>
								<key>TITLE</key>
								<array/>
								<key>TYPE</key>
								<integer>0</integer>
								<key>UUID</key>
								<string>__CHOOSER_UUID__</string>
							</dict>
